.experience{
  padding:100px 0;
}
.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
  }
.experience .serv-content{
    display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
}
.experience hr{
    margin: 0;
    width: 63%;
}
.experience .serv-content .card:hover {
  background: crimson;
}
.experience .serv-content .card .box {
  transition: all 0.3s ease;
}
.experience .serv-content .card:hover .box {
  transform: scale(1.05);
}
.experience .serv-content .card i {
  font-size: 50px;
  color: crimson;
  transition: color 0.3s ease;
}
.experience .serv-content .card:hover i {
  color: #fff;
}
.experience .serv-content .card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}

.experience .serv-content .card {
width: calc(33% - 20px);
background: #222;
text-align: center;
border-radius: 6px;
padding: 20px 25px;
margin-bottom:20px;
transition: all 0.3s ease;
}
.experience,
.achievements {
color: #fff;

}
.experience .title::before,
.achievements .title::before,
.contact .title::before {
background: #fff;
}
@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
}
@media (max-width: 947px) {
 
    
  .max-width {
    max-width: 930px;
  }
 
  .experience .serv-content .card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  
}
@media (max-width: 690px) {
   
  .experience .serv-content .card {
    width: 100%;
  }
  .max-width {
      padding: 0 23px;
    }
}
@media (max-width: 500px) {
    
  .scroll-up-btn {
    right: 15px;
    bottom: 15px;
    height: 38px;
    width: 35px;
    font-size: 23px;
    line-height: 38px;
  }
}

 
  

  