.projects .carousel .card {
   
    border-radius: 6px;
    padding: 26px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
    background: #60b18d15;
    border: 1px solid #4bf19f;
    border-radius: 8px;
    color: #f7f7f7;
    height:300px;
    /* width:fit-content; */
  }
  /* .card:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  } */
  .projects .carousel .card:hover {
    
    transform: scale(0.95);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }
  .projects .carousel .card .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
  }
  /* .projects .carousel .card:hover .box {
    transform: scale(1.05);
  } */
  .projects .carousel .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
  }
  .projects .carousel .card img {
    height: 160px;
    width: 100%;
    object-fit: cover;
    /* border-radius: 6px; */
    border: 1px solid #56e79e;
    transition: all 0.3s ease;
  }
  /* .projects .carousel .card:hover img {
    border:3px solid #4de89b;
  } */
  .owl-dots {
    text-align: center;
    margin-top: 20px;
  }
  .owl-dot {
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none !important;
    border-radius: 50%;
    border: 2px solid crimson !important;
    transition: all 0.3s ease;
  }
  .owl-dot.active {
    width: 35px;
    border-radius: 14px;
  }
  .owl-dot.active,
  .owl-dot:hover {
    background: crimson !important;
  }
  .projects{
    padding: 100px 0;
  }
  .carousel{
    margin-top: 100px;
  }
  .projects hr{
    margin: 0;
    width: 63%;
}
.title1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  /* flex-direction: row; */
  margin: 0 auto;
  width: 80%;
  color: #fff;
}
.title1 h1{
  display: inline-block;
  font-size: 5rem;
  color: white;
  margin: 0%;
}
@media only screen and (max-width: 850px) {
  .title1 h1{
      font-size: 4.5rem;
  }
}
@media only screen and (max-width: 768px) {
  .title1 h1{
      font-size: 4rem;
  }
}
@media only screen and (max-width: 425px) {
  .title1 h1{
      font-size: 3rem;
  }
  
}
@media only screen and (max-width: 320px) {
  .title1 h1{
      font-size: 2.2rem;
  }
  
}